body {
    background-image: url("Images/corkboard.jpg");
    font-family: cursive;
}


.header {
    font-size: 3em;
}


.form-img {
    background-image: url("Images/notebook_paper.jpg");
}


.cards-padding {
    padding: 0.15rem 0.5rem;
  }


.bg-card {
    background-image: url("Images/sticky-note.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 286px;
}


.card-text {
    height: 130px;
}

.fade-in {
animation: fadeIn 5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
to {
    opacity: 1;
}
}
