body {
    background-image: url("Images/corkboard.jpg");
    font-family: cursive;
}

.header {
    font-size: 3em;
}

.form-img {
    background-image: url("Images/notebook_paper.jpg");
    border-radius: 3px;
}

.card-title {
      margin-top: 0.7em;
  }

.sticky-note {
    background-image: url("Images/sticky-note-png.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 286px;
}

.card-text {
    height: 115px;
    margin-bottom: 0.8em;
}




