body {
    background-image: url("Images/corkboard.jpg");

}

.header {
  
    font-size: 3em;
    font-family: cursive;
    
}


.form-img {
    background-image: url("Images/notebook_paper.jpg");
    

}